@model HomeViewModel

@if (Model.PostDtos == null || !Model.PostDtos.Any())
{
    <h3>Henüz Paylaşım Yok</h3>
}
else
{


    @foreach (var post in Model.PostDtos)
    {
        if (post.PostType == "Image")
        {
            <div class="central-meta item">
                <div class="user-post">
                    <div class="friend-info">
                        <figure>
                            <img src="@post.PostUserDto.UserProfilePicture" alt="">
                        </figure>
                        <div class="friend-name">
                            <ins><a href="time-line.html" title="">@post.PostUserDto.UserFirstName @post.PostUserDto.UserLastName</a></ins>
                            <span>
                                Paylaşıldı: @post.PostCreateDate.ToString("g")
                            </span>
                        </div>
                        <div class="post-meta">
                            <div class="description">

                                <p style="color:black;">
                                    @post.PostTextContent
                                </p>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <img style="width:770px;" src="@post.PostImageUrl" alt="">
                            </div>
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>@post.PostCommentNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="like" data-toggle="tooltip" title="like">
                                            <i class="ti-heart"></i>
                                            <ins>@post.PostLikeNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="dislike" data-toggle="tooltip" title="dislike">
                                            <i class="ti-heart-broken"></i>
                                            <ins>@post.PostDislikeNumber</ins>
                                        </span>
                                    </li>
                                    <li class="social-media">
                                        <div class="menu">
                                            <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="coment-area">
                        <div class="text-center mb-4 text-black">
                            <h4>Yorumlar</h4>
                        </div>
                        <div>
                            <ul style="list-style-type:none; margin-bottom:40px;">
                                <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="@ViewBag.profilPicture" alt="">
                                    </div>
                                    <div class="post-comt-box">
                                        <form method="post" id="addcomment2" onsubmit="submitForm('addcomment2')">
                                            <input type="hidden" name="postId" value="@post.PostId">
                                            <textarea name="comment" placeholder="Yorumunuz..."></textarea>

                                            <div class="add-smiles">
                                                <span class="em em-expressionless" title="add icon"></span>
                                            </div>
                                            <div class="smiles-bunch">
                                                <i class="em em---1"></i>
                                                <i class="em em-smiley"></i>
                                                <i class="em em-anguished"></i>
                                                <i class="em em-laughing"></i>
                                                <i class="em em-angry"></i>
                                                <i class="em em-astonished"></i>
                                                <i class="em em-blush"></i>
                                                <i class="em em-disappointed"></i>
                                                <i class="em em-worried"></i>
                                                <i class="em em-kissing_heart"></i>
                                                <i class="em em-rage"></i>
                                                <i class="em em-stuck_out_tongue"></i>
                                            </div>
                                            <button type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="we-comet" id="@post.PostId">
                            @{
                                var commentList = post.CommentsDto.OrderByDescending(x => x.CommentDate).Take(5);
                            }
                            @foreach (var comment in commentList)
                            {
                                if (comment.CommentId != 0)
                                {
                                    <li>
                                        <div class="comet-avatar">
                                            <img width="50" src="@comment.CommentUser.UserProfilePicture" alt="">
                                        </div>
                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">@comment.CommentUser.UserFirstName @comment.CommentUser.UserLastName</a></h5>
                                                <span>@comment.CommentDate.ToString("g")</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                            </div>
                                            <p>@comment.CommentContent</p>
                                        </div>
                                        <ul>

                                            @foreach (var reply in comment.ReplyComments)
                                            {
                                                if (reply.ReplyCommentId != 0)
                                                {

                                                    <li>
                                                        <div class="comet-avatar">
                                                            <img width="50" src="@reply.ReplyCommentUser.UserProfilePicture" alt="">
                                                        </div>
                                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                                            <div class="coment-head">
                                                                <h5><a href="time-line.html" title="">@reply.ReplyCommentUser.UserFirstName @reply.ReplyCommentUser.UserLastName</a></h5>
                                                                <span>@reply.ReplyCommentDate.ToString("g")</span>
                                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p>@reply.ReplyCommentContent</p>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <h4><strong> Henüz yorum yok!</strong></h4>
                                    </div>

                                }

                            }
                            <li>
                                <a href="#" title="" class="showmore underline">more comments</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        }
        if (post.PostType == "Youtube")
        {

            var commentContentUniqKey = Guid.NewGuid();
            var commentUserUniqKey = Guid.NewGuid();
            var parentCommentUniqKey = Guid.NewGuid();
            var replyArea = Guid.NewGuid();
            <div class="central-meta item">
                <div class="user-post">
                    <div class="friend-info">
                        <figure>
                            <img src="@post.PostUserDto.UserProfilePicture" alt="">
                        </figure>
                        <div class="friend-name">
                            <ins><a href="time-line.html" title="">@post.PostUserDto.UserFirstName @post.PostUserDto.UserLastName</a></ins>
                            <span>Paylaşıldı: @post.PostCreateDate.ToString("g")</span>
                        </div>

                        <div class="post-meta">
                            <div class="description">

                                <p style="color:black;">
                                    @post.PostTextContent
                                </p>
                            </div>
                            <a href="@post.PostYoutubeUrl" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
                                @{
                                    var thumbnail = post.PostYoutubeUrl.Split("=")[1].Split("&")[0];
                                }
                                <img width="100%" src="https://img.youtube.com/vi/@thumbnail/maxresdefault.jpg" alt="">
                                <i>
                                    <svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="40px" width="40px"
                                         viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
													C97.3,23.7,75.7,2.3,49.9,2.5" />
                                    <path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                                                                                                                                                    </svg>
                                </i>
                            </a>
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>@post.PostCommentNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="like" data-toggle="tooltip" title="like">
                                            <i class="ti-heart" id="likeIcon+@post.PostId" onclick="postLike('@post.PostId', '@post.PostLikeNumber')"></i>
                                            <ins id="like+@post.PostId">@post.PostLikeNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="dislike" data-toggle="tooltip" title="dislike">
                                            <i class="ti-heart-broken"></i>
                                            <ins>@post.PostDislikeNumber</ins>
                                        </span>
                                    </li>
                                    <li class="social-media">
                                        <div class="menu">
                                            <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="coment-area">
                        <div class="text-center mb-4 text-black">
                            <h4>Yorumlar</h4>
                        </div>
                        <div>
                            <ul style="list-style-type:none; margin-bottom:40px;">
                                <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="@ViewBag.profilPicture" alt="">
                                    </div>
                                    <div class="post-comt-box">
                                        <form method="post" id="addcomment2" onsubmit="submitForm('addcomment2')">
                                            <div style="background-color:lightgrey; height:60px; border-top-right-radius:20px; border-top-left-radius:20px; display:none;" id="@replyArea">
                                                
                                                <div style="float: right; margin-top:8px; margin-right:10px; cursor:pointer;" onclick="closeReplyToArea('@replyArea','@parentCommentUniqKey')">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </div>
                                                <div style="font-size:12px; font-weight:bold; display:flex; padding-top:8px; padding-left:8px;" id="@commentUserUniqKey">Cevap Veriliyor:</div>
                                                <div id="@commentContentUniqKey" style="font-size:16px; padding-left:10px;">
                                                    deneme
                                                </div>
                                            </div>
                                            <input type="hidden" name="postId" value="@post.PostId">
                                            <input type="hidden" name="commentId" id="@parentCommentUniqKey">
                                            <textarea name="comment" placeholder="Yorumunuz..."></textarea>

                                            <div class="add-smiles">
                                                <span class="em em-expressionless" title="add icon"></span>
                                            </div>
                                            <div class="smiles-bunch">
                                                <i class="em em---1"></i>
                                                <i class="em em-smiley"></i>
                                                <i class="em em-anguished"></i>
                                                <i class="em em-laughing"></i>
                                                <i class="em em-angry"></i>
                                                <i class="em em-astonished"></i>
                                                <i class="em em-blush"></i>
                                                <i class="em em-disappointed"></i>
                                                <i class="em em-worried"></i>
                                                <i class="em em-kissing_heart"></i>
                                                <i class="em em-rage"></i>
                                                <i class="em em-stuck_out_tongue"></i>
                                            </div>
                                            <button type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="we-comet" id="@post.PostId">
                            @{
                                var commentList = post.CommentsDto.OrderByDescending(x => x.CommentDate).Take(5);
                            }
                            @foreach (var comment in commentList)
                            {
                                if (comment.CommentId != 0)
                                {
                                    <li>
                                        <div class="comet-avatar">
                                            <img width="50" src="@comment.CommentUser.UserProfilePicture" alt="">
                                        </div>
                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">@comment.CommentUser.UserFirstName @comment.CommentUser.UserLastName</a></h5>
                                                <span>@comment.CommentDate.ToString("g")</span>
                                                @{
                                                    var firstName = comment.CommentUser.UserFirstName;
                                                    var lastName = comment.CommentUser.UserLastName;
                                                }
                                                <a class="we-reply" href="javascript:void(0)" onclick="replyToComment('@comment.CommentId','@comment.CommentContent', '@firstName','@lastName','@comment.CommentPostId','@commentContentUniqKey','@commentUserUniqKey','@parentCommentUniqKey','@replyArea');" title="Reply"><i class="fa fa-reply"></i></a>
                                            </div>
                                            <p>@comment.CommentContent</p>
                                        </div>
                                        <ul>

                                            @foreach (var reply in comment.ReplyComments)
                                            {
                                                if (reply.ReplyCommentId != 0)
                                                {
                                                    var replyFirstName = reply.ReplyCommentUser.UserFirstName;
                                                    var replyLastName = reply.ReplyCommentUser.UserLastName;
                                                    <li>
                                                        <div class="comet-avatar">
                                                            <img width="50" src="@reply.ReplyCommentUser.UserProfilePicture" alt="">
                                                        </div>
                                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                                            <div class="coment-head">
                                                                <h5><a href="time-line.html" title="">@reply.ReplyCommentUser.UserFirstName @reply.ReplyCommentUser.UserLastName</a></h5>
                                                                <span>@reply.ReplyCommentDate.ToString("g")</span>
                                                                <a class="we-reply" href="javascript:void(0)" onclick="replyToComment('@comment.CommentId','@reply.ReplyCommentContent', '@replyFirstName','@replyLastName','@comment.CommentPostId','@commentContentUniqKey','@commentUserUniqKey','@parentCommentUniqKey','@replyArea');" return false;" title="Reply"><i class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p>@reply.ReplyCommentContent</p>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <h4><strong> Henüz yorum yok!</strong></h4>
                                    </div>

                                }

                            }
                            <li>
                                <a href="#" title="" class="showmore underline">more comments</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        }
        if (post.PostType == "Text")
        {
            <div class="central-meta item">
                <div class="user-post">
                    <div class="friend-info">
                        <figure>
                            <img src="@post.PostUserDto.UserProfilePicture" alt="">
                        </figure>
                        <div class="friend-name">
                            <ins><a href="time-line.html" title="">@post.PostUserDto.UserFirstName @post.PostUserDto.UserLastName</a></ins>
                            <span>
                                Paylaşıldı: @post.PostCreateDate.ToString("g")
                            </span>
                        </div>
                        <div class="post-meta" style="margin-left:60px;">
                            <img src="images/resources/user-post.jpg" alt="">
                            <div class="description">

                                <p style="color:black;">
                                    @post.PostTextContent
                                </p>
                            </div>
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>@post.PostCommentNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="like" data-toggle="tooltip" title="like">
                                            <i class="ti-heart"></i>
                                            <ins>@post.PostLikeNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="dislike" data-toggle="tooltip" title="dislike">
                                            <i class="ti-heart-broken"></i>
                                            <ins>@post.PostDislikeNumber</ins>
                                        </span>
                                    </li>
                                    <li class="social-media">
                                        <div class="menu">
                                            <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="coment-area">
                        <div class="text-center mb-4 text-black">
                            <h4>Yorumlar</h4>
                        </div>
                        <div>
                            <ul style="list-style-type:none; margin-bottom:40px;">
                                <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="@ViewBag.profilPicture" alt="">
                                    </div>
                                    <div class="post-comt-box">

                                        <form method="post" id="addcomment2" onsubmit="submitForm('addcomment2')">
                                            <input type="hidden" name="postId" value="@post.PostId">
                                            <textarea name="comment" placeholder="Yorumunuz..."></textarea>

                                            <div class="add-smiles">
                                                <span class="em em-expressionless" title="add icon"></span>
                                            </div>
                                            <div class="smiles-bunch">
                                                <i class="em em---1"></i>
                                                <i class="em em-smiley"></i>
                                                <i class="em em-anguished"></i>
                                                <i class="em em-laughing"></i>
                                                <i class="em em-angry"></i>
                                                <i class="em em-astonished"></i>
                                                <i class="em em-blush"></i>
                                                <i class="em em-disappointed"></i>
                                                <i class="em em-worried"></i>
                                                <i class="em em-kissing_heart"></i>
                                                <i class="em em-rage"></i>
                                                <i class="em em-stuck_out_tongue"></i>
                                            </div>
                                            <button type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="we-comet" id="@post.PostId">
                            @{
                                var commentList = post.CommentsDto.OrderByDescending(x => x.CommentDate).Take(5);
                            }
                            @foreach (var comment in commentList)
                            {
                                if (comment.CommentId != 0)
                                {
                                    <li>
                                        <div class="comet-avatar">
                                            <img width="50" src="@comment.CommentUser.UserProfilePicture" alt="">
                                        </div>
                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">@comment.CommentUser.UserFirstName @comment.CommentUser.UserLastName</a></h5>
                                                <span>@comment.CommentDate.ToString("g")</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                            </div>
                                            <p>@comment.CommentContent</p>
                                        </div>
                                        <ul>

                                            @foreach (var reply in comment.ReplyComments)
                                            {
                                                if (reply.ReplyCommentId != 0)
                                                {

                                                    <li>
                                                        <div class="comet-avatar">
                                                            <img width="50" src="@reply.ReplyCommentUser.UserProfilePicture" alt="">
                                                        </div>
                                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                                            <div class="coment-head">
                                                                <h5><a href="time-line.html" title="">@reply.ReplyCommentUser.UserFirstName @reply.ReplyCommentUser.UserLastName</a></h5>
                                                                <span>@reply.ReplyCommentDate.ToString("g")</span>
                                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p>@reply.ReplyCommentContent</p>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <h4><strong> Henüz yorum yok!</strong></h4>
                                    </div>

                                }

                            }
                            <li>
                                <a href="#" title="" class="showmore underline">more comments</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        }
        if (post.PostType == "Video")
        {
            <div class="central-meta item">
                <div class="user-post">
                    <div class="friend-info">
                        <figure>
                            <img src="@post.PostUserDto.UserProfilePicture" alt="">
                        </figure>
                        <div class="friend-name">
                            <ins><a href="time-line.html" title="">@post.PostUserDto.UserFirstName @post.PostUserDto.UserLastName</a></ins>
                            <span>Paylaşıldı: @post.PostCreateDate.ToString("g")</span>
                        </div>
                        <div class="post-meta">
                            <div class="description">

                                <p style="color:black;">
                                    @post.PostTextContent
                                </p>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <video width="770" controls>
                                    <source src="@post.PostVideoUrl" type="video/mp4">
                                </video>
                            </div>
                            <div class="we-video-info">
                                <ul>
                                    <li>
                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                            <i class="fa fa-comments-o"></i>
                                            <ins>@post.PostCommentNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="like" data-toggle="tooltip" title="like">
                                            <i class="ti-heart"></i>
                                            <ins>@post.PostLikeNumber</ins>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="dislike" data-toggle="tooltip" title="dislike">
                                            <i class="ti-heart-broken"></i>
                                            <ins>@post.PostDislikeNumber</ins>
                                        </span>
                                    </li>
                                    <li class="social-media">
                                        <div class="menu">
                                            <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                            <div class="rotater">
                                                <div class="btn btn-icon">
                                                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="coment-area">
                        <div class="text-center mb-4 text-black">
                            <h4>Yorumlar</h4>
                        </div>
                        <div>
                            <ul style="list-style-type:none; margin-bottom:40px;">
                                <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="@ViewBag.profilPicture" alt="">
                                    </div>
                                    <div class="post-comt-box">
                                        <form method="post" id="addcomment2" onsubmit="submitForm('addcomment2')">
                                            <input type="hidden" name="postId" value="@post.PostId">
                                            <textarea name="comment" placeholder="Yorumunuz..."></textarea>

                                            <div class="add-smiles">
                                                <span class="em em-expressionless" title="add icon"></span>
                                            </div>
                                            <div class="smiles-bunch">
                                                <i class="em em---1"></i>
                                                <i class="em em-smiley"></i>
                                                <i class="em em-anguished"></i>
                                                <i class="em em-laughing"></i>
                                                <i class="em em-angry"></i>
                                                <i class="em em-astonished"></i>
                                                <i class="em em-blush"></i>
                                                <i class="em em-disappointed"></i>
                                                <i class="em em-worried"></i>
                                                <i class="em em-kissing_heart"></i>
                                                <i class="em em-rage"></i>
                                                <i class="em em-stuck_out_tongue"></i>
                                            </div>
                                            <button type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="we-comet" id="@post.PostId">
                            @{
                                var commentList = post.CommentsDto.OrderByDescending(x => x.CommentDate).Take(5);
                            }
                            @foreach (var comment in commentList)
                            {
                                if (comment.CommentId != 0)
                                {
                                    <li>
                                        <div class="comet-avatar">
                                            <img width="50" src="@comment.CommentUser.UserProfilePicture" alt="">
                                        </div>
                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">@comment.CommentUser.UserFirstName @comment.CommentUser.UserLastName</a></h5>
                                                <span>@comment.CommentDate.ToString("g")</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                            </div>
                                            <p>@comment.CommentContent</p>
                                        </div>
                                        <ul>

                                            @foreach (var reply in comment.ReplyComments)
                                            {
                                                if (reply.ReplyCommentId != 0)
                                                {

                                                    <li>
                                                        <div class="comet-avatar">
                                                            <img width="50" src="@reply.ReplyCommentUser.UserProfilePicture" alt="">
                                                        </div>
                                                        <div class="we-comment" style="box-shadow:1px 1px 5px gray">
                                                            <div class="coment-head">
                                                                <h5><a href="time-line.html" title="">@reply.ReplyCommentUser.UserFirstName @reply.ReplyCommentUser.UserLastName</a></h5>
                                                                <span>@reply.ReplyCommentDate.ToString("g")</span>
                                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p>@reply.ReplyCommentContent</p>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <h4><strong> Henüz yorum yok!</strong></h4>
                                    </div>

                                }

                            }
                            <li>
                                <a href="#" title="" class="showmore underline">more comments</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        }
    }
}
