@model UserViewModel
@{
    ViewData["Title"] = "MyAbout";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->


<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Edit info</h4>
									<ul class="naves">
										<li>
											<i class="ti-info-alt"></i>
											<a title="" href="edit-profile-basic.html">Basic info</a>
										</li>
										<li>
											<i class="ti-mouse-alt"></i>
											<a title="" href="edit-work-eductation.html">Education &amp; Work</a>
										</li>
										<li>
											<i class="ti-heart"></i>
											<a title="" href="edit-interest.html">My interests</a>
										</li>
										<li>
											<i class="ti-settings"></i>
											<a title="" href="edit-account-setting.html">account setting</a>
										</li>
										<li>
											<i class="ti-lock"></i>
											<a title="" href="edit-password.html">change password</a>
										</li>
									</ul>
								</div>
								<div class="widget">
									<h4 class="widget-title">Socials</h4>
									<ul class="socials">
										<li class="facebook">
											<a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
										</li>
										<li class="twitter">
											<a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
										</li>
										<li class="google">
											<a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
										</li>
									</ul>
								</div>
							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-6">
							<div class="central-meta">
								<div class="about">
									<div class="personal">
										<h5 class="f-title"><i class="ti-info-alt"></i> Kişisel Bilgiler</h5>
										<p>@Model.UserBiography</p>
									</div>
									<div class="d-flex flex-row mt-2">
										<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left">
											<li class="nav-item">
												<a href="#basic" class="nav-link active" data-toggle="tab">Bilgiler</a>
											</li>										
											<li class="nav-item">
												<a href="#work" class="nav-link" data-toggle="tab">work and education</a>
											</li>
											<li class="nav-item">
												<a href="#interest" class="nav-link" data-toggle="tab">interests</a>
											</li>
											<li class="nav-item">
												<a href="#lang" class="nav-link" data-toggle="tab">languages</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade show active" id="basic">
												<ul class="basics">
													<li><i class="ti-user"></i>@Model.UserFirstName @Model.UserLastName</li>
													<li><i class="ti-map-alt"></i>@Model.UserLocation' yaşıyor</li>
													<li><i class="ti-mobile"></i>@Model.UserPhoneNumber</li>
													<li><i class="ti-email"></i>Model.</li>
													<li><i class="ti-world"></i>@Model.UserWebsite</li>
												</ul>
											</div>
											
											<div class="tab-pane fade" id="work" role="tabpanel">
												<div>

													
													<p>@Model.UserJobInfo</p>
													<ul class="education">
														<li>@Model.UserEducationInfo</li>
														
													</ul>
												</div>
											</div>
											<div class="tab-pane fade" id="interest" role="tabpanel">
												<ul class="basics">
													<li>Footbal</li>
													<li>internet</li>
													<li>photography</li>
												</ul>
											</div>
											<div class="tab-pane fade" id="lang" role="tabpanel">
												<ul class="basics">
													<li>@Model.UserLanguage1</li>
													<li>@Model.UserLanguage2</li>
													<li>@Model.UserLanguage3</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- centerl meta -->
						<div class="col-lg-3">
							<aside class="sidebar static">
			
		
							</aside>
						</div><!-- sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
