@model ProfileFriendsViewModel
@{
    ViewData["Title"] = "MyFriends";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->


<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->
                               
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <div class="frnds">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Arkadaşlarım</a> <span>@Model.friends.Count()</span></li>
                                        <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Arkadaşlık İstekleri</a><span>@Model.friendRequests.Count()</span></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active fade show " id="frends">
                                            <ul class="nearby-contct">
                                                @foreach (var friend in Model.friends)
                                                {
                                                    <li>
                                                        <div class="nearly-pepls">
                                                            <figure>
                                                                <a href="time-line.html" title=""><img src=@friend.Friend.UserProfilePicture alt=""></a>
                                                            </figure>
                                                            <div class="pepl-info">
                                                                <h4><a href="time-line.html" title="">@friend.Friend.UserFirstName @friend.Friend.UserLastName</a></h4>

                                                                <a href="#" title="" class="add-butn more-action" data-ripple="">Arkadaşlıktan Çıkar</a>

                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                                        </div>
                                        <div class="tab-pane fade" id="frends-req">
                                            <ul class="nearby-contct">
                                                @foreach (var req in Model.friendRequests)
                                                {


                                                    <li>
                                                        <div class="nearly-pepls">
                                                            <figure>
                                                                <a href="time-line.html" title=""><img src=@req.FriendReqFriendReqSender.UserProfilePicture alt=""></a>
                                                            </figure>
                                                            <div class="pepl-info">
                                                                <h4><a href="time-line.html" title="">@req.FriendReqFriendReqSender.UserFirstName @req.FriendReqFriendReqSender.UserLastName</a></h4>
                                                             
                                                                <a href="#" title="" class="add-butn more-action" data-ripple="">İsteği Sil</a>
                                                                <a href="#" title="" class="add-butn" data-ripple="">Kabul Et</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <button class="btn-view btn-load-more"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                
       

                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>