@model OtherFriendsViewModel
@{
    ViewData["Title"] = "OtherFriends";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


@{
    FriendsViewModel statusFriend = Model.User.Friends.FirstOrDefault(x => x.FriendsUserId == ViewBag.UserId);
}


<partial name="OtherProfileCoverPartialView" model="@Model.User" />

@if (!Model.User.UserPrivacySettings.PrivacySettingsHiddenProfile || statusFriend?.FriendsStatus == "approved")
{


    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <!--ShortCuts-->
                                    <partial name="ShortCutsPartialView" />
                                    <!--ShortCuts-->

                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="frnds">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Arkadaşlar</a> <span>@Model.Friends.Count()</span></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active fade show " id="frends">
                                                <ul class="nearby-contct">
                                                    @foreach (var friend in Model.Friends)
                                                    {
                                                        <li>
                                                            <div class="nearly-pepls">
                                                                <figure>
                                                                    <a href="time-line.html" title=""><img src=@friend.Friend.UserProfilePicture alt=""></a>
                                                                </figure>
                                                                <div class="pepl-info">
                                                                    <h4><a asp-action="OtherProfile" asp-controller="Profile" asp-route-id="@friend.Friend.UserId" title="">@friend.Friend.UserFirstName @friend.Friend.UserLastName</a></h4>


                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">



                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info text-center">

                <h3>Profilim şu anda gizli, sadece arkadaşlarım içeriklerimi görebilir. Eğer arkadaşlarımdan biri değilsen, istek göndermeyi deneyebilirsin.</h3>

            </div>

        </div>
    </div>
}