@model List<MessageViewModel>
@{
    ViewData["Title"] = "MyMassages";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <div class="messages">
                                    <h5 class="f-title"><i class="ti-comments-smiley"></i>Tüm Mesajlar</h5>
                                    <div class="message-box">
                                        <ul class="peoples">
                                            @foreach (var message in Model)
                                            {
                                                <li>

                                                    <figure>
                                                        <img src=@message.User.UserProfilePicture alt="">
                                                        <span class="status f-@(message.User.UserIsOnline?"online":"off")"></span>
                                                    </figure>
                                                    <div class="people-name" onclick="messageFriend('@message.Id')">
                                                        <span>@message.User.UserFirstName @message.User.UserLastName</span>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                        <div class="peoples-mesg-box">
                                            <div class="conversation-head" style="display:none;" id="nameBox">
                                                <figure><img src="images/resources/friend-avatar.jpg" id="targetUserPic" alt=""></figure>
                                                <span id="nemeArea"></span>
                                                <input id="targetUserId" type="hidden" />
                                            </div>
                                            <ul class="chatting-area" style="height:1000px">
                                            </ul>
                                            <div class="message-text-container" style="display:none;" id="messageBox">
                                                <form method="post">
                                                    <textarea id="textMessage"></textarea>
                                                    <button title="send" type="submit" onclick="send(event)"><i class="fa fa-paper-plane"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">

                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        var userId = @ViewBag.userId;


        function messageFriend(id) {
            model.forEach(function (message) {
                if (message.id == id) {
                    var messages = message;
                    document.getElementById('messageBox').style.display = 'block';
                    document.getElementById('nameBox').style.display = 'block';

                    $("#nemeArea").empty();
                    var spanName = document.getElementById('nemeArea');
                    var text = document.createTextNode(messages.user.userFirstName + ' ' + messages.user.userLastName);
                    spanName.appendChild(text);
                    $('#targetUserId').val(messages.user.userId);
                    $('#targetUserPic').attr("src", messages.user.userProfilePicture)



                    var targetUserId = messages.user.userId;

                    console.log(targetUserId);

                    $(".chatting-area").empty();

                    var messageHtml = '';

                    messages.messageDetails.forEach(function (chat) {
                        var messageClass = chat.ownerUserId == userId ? "me" : "you";
                        var messageContent = chat.messageContent;
                        var sendDate = chat.sendDate;
                        var formattedMessageContent = messageContent.replace(/(.{50})/g, "$1<br>");

                        messageHtml += '<li class="' + messageClass + '">';
                        messageHtml += '<figure><img src="~/SocialUI/images/resources/' + (messageClass === "me" ? 'userlist-1.jpg' : 'userlist-2.jpg') + '" alt=""></figure>';
                        messageHtml += '<p>' + formattedMessageContent + '<span style="float:right; font-size:12px;">' + sendDate + '</span></p>';
                        messageHtml += '</li>';
                    });

                    $(".chatting-area").append(messageHtml);
                    // $(".chatting-area").append(targetUserIdHtml);

                }
            });
        };

        "use strict";


        var jwtToken = '@ViewBag.token'

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7091/MessageHub", {
                accessTokenFactory: () => jwtToken
            })
            .build();


        function send(event) {
            event.preventDefault();
            connection.invoke("MessageSend", $('#textMessage').val(), $('#targetUserId').val());
            var message = $('#textMessage').val()
            var messageHtml = '';
            messageHtml += '<li class="me">';
            messageHtml += '<figure><img src="~/SocialUI/images/resources/userlist-1.jpg alt=""></figure>';
            messageHtml += '<p>' + message + '<span style="float:right; font-size:12px;"></span></p>';
            messageHtml += '</li>';

            $(".chatting-area").append(messageHtml);
            $('#textMessage').val('');
        }


        connection.on("ReceivePrivateMessage", (senderUserId, message) => {
            console.log(message);
            var targetUser = $('#targetUserId').val();
            console.log(targetUser + ' ' + senderUserId);

            if (senderUserId == targetUser) {
                var messageHtml = '';
                messageHtml += '<li class="you">';
                messageHtml += '<figure><img src="~/SocialUI/images/resources/userlist-1.jpg alt=""></figure>';
                messageHtml += '<p>' + message + '<span style="float:right; font-size:12px;"></span></p>';
                messageHtml += '</li>';

                $(".chatting-area").append(messageHtml);
            }
            else {
              
                model.forEach(function (chat) {
                    console.log(chat);
                    if (chat.user.userId == senderUserId) {
                        console.log(chat);
                        var newMessage = {
                            sendDate: Date.now(),
                            messageContent: message,
                            messageId: chat.messageId,
                            ownerUserId: userId
                        };

                        chat.messageDetails.push(newMessage);
                    }
                })
            }

        });

        connection.start().then(() => {
            ShowConnectionState();
            console.log("Bağlantı kimliği:", connection.connectionId);


        }).catch((err) => {
            ShowConnectionState();
            console.log('Hata:', err.toString());
        });

    </script>
}
