@model HomeAndMessageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<div class="fixed-sidebar right">
    <div class="chat-friendz">
        <vc:home-friends-and-messages></vc:home-friends-and-messages>
    </div>
</div><!-- right sidebar user chat -->
<div class="chat-box">
    <div class="chat-head">
        <span class="status f-online"></span>
        <h6 id="nameArea"></h6>
        <input id="targetUserId" type="hidden" />
        <input id="messageId" type="hidden" />
        <div class="more">
            <span class="more-optns">
                <i class="ti-more-alt"></i>
                <ul>
                    <li>block chat</li>
                    <li>unblock chat</li>
                    <li>conversation</li>
                </ul>
            </span>
            <span class="close-mesage"><i class="ti-close"></i></span>
        </div>
    </div>
    <div class="chat-list">
        <ul id="messageBox" style="height:600px;">
        </ul>
        <form class="text-box">
            <textarea placeholder="Mesaj girin..." id="textMessage" style="width:85%"></textarea>

            <button title="send" type="submit" onclick="send(event)"><i class="fa fa-paper-plane"></i></button>
        </form>
    </div>
</div>

<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->

                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <!--New Post Form-->

                            <vc:new-post></vc:new-post>
                            <!--New Post Form-->
                            <div class="loadMore">
                                <partial name="PostsPartialView" data="@Model.HomeViewModel.PostDtos" />
                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static right">

                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Önerilen Arkadaşlar</h4>
                                    <ul class="followers">
                                        @foreach (var offeruser in Model.HomeViewModel.OfferUserDtos)
                                        {
                                            <li>
                                                <figure><img src="@offeruser.UserProfilePicture" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a asp-controller="Profile" asp-action="OtherProfile" asp-route-id="@offeruser.UserId" title="">@offeruser.UserFirstName @offeruser.UserLastName</a></h4>
                                                    <a href="#" title="" class="underline">Arkadaş Ekle</a>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div><!-- who's following -->

                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script>

        var model = @Html.Raw(Json.Serialize(Model.MessagesAndFriendsViewModel.Messages));
        var friends = @Html.Raw(Json.Serialize(Model.MessagesAndFriendsViewModel.Friends));
        var userProfilPic = @Html.Raw(Json.Serialize(Model.MessagesAndFriendsViewModel.UserProfilPic));
        var userId = @ViewBag.userId;

        function messageFriend(id) {
            model.forEach(function (message) {
                if (message.id == id) {
                    var messages = message;
                    debugger;
                    $("#nameArea").empty();
                    var nameArea = document.getElementById('nameArea');
                    var text = document.createTextNode(messages.user.userFirstName + ' ' + messages.user.userLastName);
                    nameArea.appendChild(text);
                    $('#targetUserId').val(messages.user.userId);
                    $('#messageId').val(messages.id);


                    var targetUserId = messages.user.userId;



                    $("#messageBox").empty();

                    var messageHtml = '';
                    console.log('user id' + userId);
                    messages.messageDetails.forEach(function (chat) {
                        console.log('mesaj id' + chat.ownerUserId);
                        var messageClass = chat.ownerUserId == userId ? "you" : "me";
                        var messageContent = chat.messageContent;
                        var sendDate = new Date(chat.sendDate);

                        messageHtml += '<li class="' + messageClass + '">';
                        messageHtml += ' <div class="chat-thumb"><img style="float:right;" src="' + (messageClass == "you" ? '' + userProfilPic + '' : '' + messages.user.userProfilePicture + '') + '" alt=""></div>';
                        messageHtml += ' <div class="notification-event">'
                        messageHtml += ' <span class="chat-message-item" style="width:100%;">' + messageContent + '</span> <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">' + sendDate.toLocaleString('tr-TR') + '</time></span>';
                        messageHtml += '</div>'
                        messageHtml += '</li>';
                    });

                    $("#messageBox").append(messageHtml);
                    scrollToBottom();
                    // $(".chatting-area").append(targetUserIdHtml);

                }
            });
        };


        //mesaj gönderim işlemi
        function send(event) {
            var message = $('#textMessage').val()
            event.preventDefault();
            connection.invoke("MessageSend", message, $('#targetUserId').val(), $('#messageId').val());

            var messageHtml = '';
            messageHtml += '<li class="you">';
            messageHtml += ' <div class="chat-thumb"><img src="' + userProfilPic + '" alt=""></div>';
            messageHtml += ' <div class="notification-event">'
            messageHtml += '<span class="chat-message-item" style="width:100%;">' + message + '</span> <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">' + new Date().toLocaleString('tr-TR') + '</time></span>';
            messageHtml += '</div>'
            messageHtml += '</li>';

            $("#messageBox").append(messageHtml);
            $('#textMessage').val('');
            scrollToBottom();
            model.forEach(function (chat) {

                if (chat.id == $('#messageId').val()) {

                    var newMessage = {
                        sendDate: new Date(),
                        messageContent: message,
                        messageId: chat.id,
                        ownerUserId: userId
                    };

                    chat.messageDetails.push(newMessage);
                }
            })
        }




        function sendMessage(userId) {
            var msg = false;

            model.forEach(function (message) {

                if (message.user.userId == userId) {
                    messageFriend(message.id);
                    msg = true;
                    console.log("if");
                }
                console.log("for");
            })
            if (msg == false) {
                //yeni konuşma açılır veri tabanına ve id si alınır
                $.ajax({
                    type: "POST",
                    url: "/Message/StartNewChat/",
                    data: { userId: userId },
                    success: function (result) {


                        friends.forEach(function (friend) {
                            if (friend.friend.userId == userId) {


                                var newPerson = {
                                    id: result,
                                    user: {
                                        userId: friend.friend.userId,
                                        userProfilePicture: friend.friend.userProfilePicture,
                                        userIsOnline: friend.friend.userIsOnline,
                                        userFirstName: friend.friend.userFirstName,
                                        userLastName: friend.friend.userLastName
                                    },
                                    messageDetails: []
                                };


                                // HTML'i listeye ekleyin

                                model.push(newPerson);
                                messageFriend(result);

                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Yeni Mesaj AJAX Hatası:", status, error);
                    }
                });
            }
        }

        //mesajların hep en alt kısmını gösterir

        function scrollToBottom() {
            var chattingArea = $("#messageBox");
            chattingArea.scrollTop(chattingArea[0].scrollHeight);
        }

    </script>

}